/* ? Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap');

/* ? HTML Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

/* ? Main */
* {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

body,
header,
navbar-element {
  height: 100%;
  width: 100%;
}

body {
  position: relative;
}

/* ! max width 600px */
/* ? Navbar */
.navbar,
.navbar-menu,
.navbar-item-link {
  display: flex;
}

.navbar {
  top: 0;
  position: fixed;
  padding: 8px 16px;
  background-color: #17223b;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  height: 70px;
  z-index: 99;
}

.navbar__title {
  font-weight: 700;
  font-size: 24px;
  padding: 12px;
}

.navbar-item-link {
  color: #63cbe2;
  font-weight: 600;
  align-items: center;
  gap: 8px;
  padding: 12px;
  margin: auto 20px;
}

.navbar-item-link:hover {
  background-color: #253760;
  border-radius: 6px;
}

.navbar__icons {
  width: 1.2em;
}

.navbar__title-1 {
  color: #63cbe2;
}

.navbar__title-2 {
  color: #fff;
}

.btn-hamburger {
  border: 0;
  color: #fff;
  padding: 12px;
  background-color: transparent;
}

.btn-hamburger:hover {
  background-color: #253760;
  border-radius: 6px;
}

.navbar-menu {
  gap: 5px;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #17223b;
  width: 100%;
  left: -100%;
  top: 65px;
  padding: 10px;
  transition: 0.1s;
  z-index: 98;
}

.show-navbar-menu {
  left: 0%;
}

/* ? Container */
.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: 100%;
}

.content {
  margin: 32px 16px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 8px rgba(37, 55, 96, 0.6);
  box-sizing: border-box;
  gap: 16px;
}

.card-movies {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 12px;
  width: auto;
  height: 100%;
}

hero-element {
  display: flex;
  max-height: 50%;
  width: 100%;
  background-color: rgba(23, 34, 59, 0.4);
  background-blend-mode: color-burn;
}

.main-hero {
  min-height: 500px;
  width: 100%;
  z-index: -1;
  position: relative;
}

.main-hero img {
  width: 100%;
  height: 100%;
  background-size: cover;
  object-fit: cover;
  object-position: center;
}

.second-hero {
  position: absolute;
  top: 100px;
  width: 100%;
  z-index: 97;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding: 16px 32px;
}

.second-hero__img {
  height: 100%;
  width: 100%;
}

.second-hero__img img {
  height: 100%;
  width: 100%;
  background-size: cover;
  object-fit: cover;
  object-position: center;
  opacity: 70%;
}

.second-hero__text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-basis: 70%;
}

.second-hero__text p {
  color: #fff;
  text-shadow: 2px 1px 0px rgba(0, 0, 0, 0.8);
  font-size: 16px;
  padding: 4px;
  font-weight: 500;
}

.hero__title {
  font-size: 36px;
  font-weight: 700;
  text-shadow: 4px 4px 1px rgba(0, 0, 0, 0.7);
}

.hero__title-1 {
  color: #63cbe2;
}

.hero__title-2 {
  color: #fff;
}

.second-hero__search-form {
  width: 100%;
}

#searchForm {
  display: flex;
  width: 100%;
  min-height: 44px;
  min-width: 44px;
  overflow: hidden;
}

.search-input,
.btn-search {
  border: 0;
}

.search-input {
  width: 100%;
  padding: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.search-input:focus {
  outline: none;
  border: 1px solid rgba(37, 55, 96, 0.6);
}

.btn-search {
  width: 20%;
  min-width: 44px;
  background-color: #17223b;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-search:hover {
  background-color: #253760;
  transition: 0.1s linear;
}

.search-icon {
  width: 20px;
  height: 20px;
  color: #63cbe2;
}

.buttons-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 2px solid #253760;
}

.buttons-wrapper button {
  min-height: 44px;
  min-width: 44px;
  width: auto;
  cursor: pointer;
  font-weight: 500;
  border: 0;
  border-radius: 5px;
  color: #fff;
  padding: 12px;
}

.buttons-main__top-rated {
  background-color: #253760;
}

.buttons-main__top-rated:hover {
  background-color: #39538f;
}

.buttons-main__popular {
  background-color: #312560;
}

.buttons-main__popular:hover {
  background-color: #46338f;
}

.buttons-main__upcoming {
  background-color: #255560;
}

.buttons-main__upcoming:hover {
  background-color: #377b8a;
}

.button-reset {
  background-color: #17223b;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  display: none;
}

.reset-icon {
  width: 1.2em;
}

.button-reset:hover {
  background-color: #2a3e6d;
}

.main-title {
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

.main-title h2 {
  font-size: 22px;
  font-weight: 600;
}

.card {
  display: flex;
  flex-direction: column;
  height: 175px;
  width: 125px;
  background-color: #17223b;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 5px;
  position: relative;
}

.card:hover {
  box-shadow: -2px -3px 6px rgba(37, 55, 96, 1);
  transform: translateY(-3px);
  transition: 0.2s ease-in-out;
}

.card-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80px;
  padding-bottom: 8px;
}

.card-text__title {
  height: 40%;
  margin-bottom: 16px;
  display: flex;
}

.card-text__title a {
  color: #fff;
  font-weight: 700;
  padding: 12px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.card-text__scores {
  display: flex;
  align-items: center;
  padding: 0 14px;
  gap: 8px;
}

.card-text__scores span {
  color: #63cbe2;
  font-size: 14px;
}

.card-text__scores-rate {
  display: flex;
  align-items: center;
  gap: 4px;
}

.card-text__scores-rate .star-icon {
  width: 0.9em;
}

/* ? Footer */
.footer {
  margin-top: 32px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #17223b;
}

.footer-sign {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #fff;
  font-size: 16px;
}

/* ? Detail movie */
#detail {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
}

.detail-img {
  padding-top: 44px;
  height: 100%;
  width: 100%;
  background-color: #253760;
  line-height: 0;
}

.detail-img img {
  min-height: 400px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.detail-description {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: auto;
  height: 100%;
  padding: 16px;
  margin-top: -150px;
  margin-left: 12px;
  margin-right: 12px;
  background-color: #fff;
  box-shadow: 0px 0px 8px rgba(37, 55, 96, 0.6);
  border-radius: 10px;
  color: #253760;
}

.detail-description_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #17223b;
  padding-bottom: 6px;
}

.detail-description_rating {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  font-size: 18px;
}

.rating-vote_icon .star-icon {
  width: 1.2em;
}

.detail-description_title_movie {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
}

.detail-description_title_section {
  font-size: 14px;
  font-weight: 600;
}

.detail-description p {
  margin-top: -12px;
}

.favorite-button button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 44px;
  min-width: 44px;
  border-radius: 28px;
  border: none;
  background-color: #377b8a;
  box-sizing: 2px 2px 8px rgba(37, 55, 96, 0.8);
  cursor: pointer;
}

.favorite-button button:hover {
  background-color: #253760;
  transition: 0.2s ease-in-out;
}

.btn-heart-icon {
  color: #fff;
  width: 1.5em;
}

.btn-trash-icon {
  color: #770101;
  width: 1.5em;
}

/* ? Favorite movies page */
.content-favorite-movies {
  margin-top: 120px;
  margin-bottom: 32px;
  margin-left: 16px;
  margin-right: 16px;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0px 0px 8px rgba(37, 55, 96, 0.6);
  box-sizing: border-box;
  gap: 16px;
}

.content-favorite-movies .main-title {
  border-bottom: 2px solid #17223b;
  padding-bottom: 16px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.content-favorite-movies .main-title .star-icon {
  width: 1.4em;
}

.content-favorite-movies .main-title {
  color: #17223b;
}

/* ? Other */
main {
  min-height: 100vh;
}
