<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Web Application to Find and Save Your Favorite Movies"
    />
    <meta name="keywords" content="Movies, Film, Cinema, Cartoon" />
    <meta name="author" content="@suhaefifzn" />
    <meta name="theme-color" content="#17223b" />
    <title>Movie Finder</title>
    <link rel="manifest" href="./app.webmanifest" />
    <link rel="apple-touch-icon" href="./icon-192x192.png" />
    <link rel="icon" href="./icon-512x512.png" />
  </head>
  <body>
    <header>
      <navbar-element></navbar-element>
    </header>
    <main class="container"></main>
    <footer class="footer">
      <div class="footer-sign">
        <p>&copy; 2022. Made with &hearts; by @suhaefifzn</p>
        <p>All movie content obtained from TheMovieDB.org</p>
      </div>
    </footer>
  </body>
</html>
